input{
  padding: 15px;
  padding-bottom: 5px;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

body {
  background-image: linear-gradient(45deg, yellow, cyan);
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
}


.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(45deg, cyan, yellow);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.form {
  position: relative;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  margin-top: 150px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}